dbeaver-ce-24.0.2-x86_64-setup.exe filter=lfs diff=lfs merge=lfs -text
github-copilot-intellij-1.5.45-243.zip filter=lfs diff=lfs merge=lfs -text
vcs-github-IU-251.25410.159-IU.zip filter=lfs diff=lfs merge=lfs -text
GitKrakenSetup.exe filter=lfs diff=lfs merge=lfs -text
